.title-re {
    margin-top: 96px;
    position: relative;
}
.title-re h3 {
    margin-top: 10px;
    padding-left: 10px;
    display: inline-block;

    padding-left: 10px;
    font-size: 36px;
    font-weight: bold;
}
.title-re h3::before {
    content: "";

    position: absolute;
    top: 0;
    left: 10px;
    height: 5px;
    width: 56px;

    background-color: #ff2a6b;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

/* recipies */
.recipies {
    padding: 90px 0;
}
.recipies__row {
    padding: 25px 0;
}
.recipies__col {
    padding: 10px;
    position: relative;
}

.recipies__col > img {
    vertical-align: middle;
}
.content-stars {
    position: absolute;
    bottom: 10px;
    left: 10px;

    padding: 16px 25px;
    width: 280px;
    height: 85px;

    display: inline-block;
    background-color: #ff2a6b;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.ct {
    font-size: 16px;
    color: #fff;
}
/* stars */
.rating {
    display: inline-flex;
    flex-flow: row nowrap;

    margin: 0 -5px;
    margin-bottom: 50px;
}
.rating > li {
    padding: 0 2px;
    font-size: 12px;
    color: gold;
}
.li-end i {
    color: #fff;
}

/* # */
/* .rating {
    display: inline-flex;
    flex-flow: row-reverse nowrap;

    margin: 0 -5px;
}
.rating > li {
    padding: 0 5px;
    font-size: 15px;
    color: #fff;
    transition: all 0.25s;
}
.rating > li:hover,
.rating > li:hover ~ li {
    color: gold;
} */
.page {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 90px;
}

.buttom {
    padding: 15px;
    margin: 5px;
}
.buttom a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.btn-one {
    background-color: #ff2a6b;
}
.btn-two,
.btn-three {
    background-color: #cccccc;
}
